{% extends "base.jinja" %}
{% block extracss %}
<link rel="stylesheet" type="text/css" href="/static/css/semibold.css">
<style type="text/css">
/*#wrapper {background: #293873 url(https://cdn.entrance360.com/static/images/ai_bg_light.jpg); background-position: center; background-size: contain; height: 100vh;}*/
.header-main.toggle-nav-dark {padding-left: 15px;}
.site-sidebar {display: none;}
.container-fluid {padding-right: 0px; padding-left: 0px;}
.container-dashboard {margin-left: 0px; width: 100%; background: #293873 url(https://cdn.entrance360.com/static/images/ai_bg_light.jpg);background-position: center; background-size: contain; height: 100vh; padding-top: 70px;}
.flip-heading {padding: 20px 0px 15px 25px;}
.flip-heading h2 {color: #fff; display: inline-block; padding-left: 10px;}
.flip-heading p {color: #fff; margin-bottom: 0px;}

.flip-carousel .carousel-inner {border: 2px solid #ebedf7; background: #fff;}
.flip-carousel .carousel a i {color: #333; width: 55px; height: 55px; line-height: 55px; border-radius: 50%; box-shadow: 0 0 15px 0 rgba(79, 102, 187, 0.3); border: solid 1px #b2bce1; background-color: #ebedf7; color: #3a4d95;}
.carousel-control-next, .carousel-control-prev {opacity: 1;}

/*---------- Flip card start -----------*/
.flip-card {background-color: transparent; width: 100%; height: auto; perspective: 1000px;}
.flip-card-inner {position: relative; width: 720px; height: 56vh; text-align: center; transition: transform 0.6s; transform-style: preserve-3d; box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.25); background: #fff; border-radius: 15px; margin: 50px 0px;}
.flip-card-front, .flip-card-back {position: absolute; width: 100%; height: 100%; -webkit-backface-visibility: hidden; backface-visibility: hidden;}
.flip-card-front h2 {margin-top: 22vh; padding: 0px 15px; font-weight: bold;}
.flip-card-front .btn01 {width: 160px; height: 29px; border-radius: 6px; background-color: #ffffff; outline: none !important; border: 1px solid #afd3e4; margin-top: 5px; cursor: pointer; transition: all 0.2s ease-in-out; color: #3a4d95;}
.flip-card-front .btn01:hover {background: #304183; color: #fff; border-color: #304183; box-shadow: 2px 2px 2px #333;}
.flip-card-back {transform: rotateX(180deg);}
.flip-card-back .not_quite, .got_it {width: 137px; height: 31px; border-radius: 7px; background-color: #e56c5b; border: none; color: #fff; margin: 0px 5px; transition: all 0.2s ease-in-out; outline: none !important; cursor: pointer;}
.flip-card-back .not_quite {background-color: #e56c5b;}
.flip-card-back .not_quite:hover {background: #d86354; box-shadow: 2px 2px 4px 0px #333;}
.flip-card-back .got_it {background-color: #02a569;}
.flip-card-back .got_it:hover {background: #2b8e58; box-shadow: 2px 2px 4px 0px #333;}

/*---------- Flip card01 start -----------*/
.flip-card01{background-color: transparent; width: 100%; height: auto; perspective: 1000px;}
.flip-card-inner01 {position: relative; width: 100%; height: 56vh; text-align: center; transition: transform 0.6s; transform-style: preserve-3d; }
.flip-card-front01, .flip-card-back01 {position: absolute; width: 100%; height: 100%; -webkit-backface-visibility: hidden; backface-visibility: hidden;}
.flip-card-back01 {transform: rotateX(180deg);}

.flip-card01 .box01, .box02 {position: absolute; top: 0px; width: 700px; height: 53vh; visibility: hidden; margin: 10px;}
.flip-card01 .box01 {background: rgba(229, 108, 91, 0.1);}
.flip-card01 .box01 img {padding-top: 21vh;}
.flip-card01 .box01 h4 {font-weight: bold; font-size: 32px; line-height: 1.34; color: #000; padding: 0px 15px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.flip-card01 .box01 button {color: #e56c5b;}
.flip-card01 .box02 {background: rgba(2, 165, 105, 0.1);}
.flip-card01 .box02 img {padding-top: 21vh;}
.flip-card01 .box02 h4 {font-weight: bold; font-size: 32px; line-height: 1.34; color: #000; padding: 0px 15px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.flip-card01 .box02 button {color: #02a569;}
.flip-card01 .read_again{text-align: center; margin-top: 11vh; border: none; outline: none !important; background: transparent; cursor: pointer;}

.flip-card01 .custom-scrollbar-css {text-align: left; height: 43vh; margin: 20px; overflow-y: scroll;}
.flip-card01 .custom-scrollbar-css h5 {font-weight: bold; font-size: 1rem; margin-bottom: 5px;}
.flip-card01 .custom-scrollbar-css img {max-width: 100% !important; height: auto !important;}
.flip-card01 .custom-scrollbar-css::-webkit-scrollbar {width: 5px; height: 5px;}
.flip-card01 .custom-scrollbar-css::-webkit-scrollbar-track {background: #eee;}
.flip-card01 .custom-scrollbar-css::-webkit-scrollbar-thumb {border-radius: 10px; background-color: #00d2ff; background-image: linear-gradient(to top, #00d2ff 0%, #3a7bd5 100%);}

.left85 {left: 85px !important; transition: all 0.2s ease-in;}
.left5 {left: -5px !important; transition: all 0.2s ease-in;}
.half-circle, .site-sidebar {transition: all 0.2s ease-in;}

/*------- Responsive ---------*/
@media only screen and (min-width: 769px) and (max-width: 1000px) {
header.c360-header {padding-left: 15px; padding-right: 15px;}
#wrapper {background: #293873 url(https://cdn.entrance360.com/static/images/ai_bg_light.jpg);}
.container-dashboard {padding: 0px; background: none;}
}

@media only screen and (min-width: 768px) and (max-width: 768px) {
header.c360-header {padding-left: 15px; padding-right: 15px;}
#wrapper {background: #293873 url(https://cdn.entrance360.com/static/images/ai_bg_light.jpg);}
.container-dashboard {padding: 0px; background: none;}
.heading-top {margin-top: 0px !important;}
.flip-card-inner {width: 540px; height: 325px;}
.flip-card-front h2 {margin-top: 120px;}
.flip-carousel .carousel-control-prev {left: -2%;}
.flip-carousel .carousel-control-next  {right: -2%;}
.flip-carousel .carousel a i {color: #333; width: 40px; height: 40px; line-height: 40px;}

.flip-card-inner01 {height: 325px;}
.flip-card01 .box01 img {padding-top: 115px;}
.flip-card01 .box01 h4 {font-size: 24px;}
.flip-card01 .box02 img {padding-top: 115px;}
.flip-card01 .box02 h4 {font-size: 24px;}
.flip-card01 .read_again {position: absolute; left: 42%; bottom: 20px; margin-top: 0vh;}
.flip-card01 .box01, .box02 {width: 96.5%; height: 305px;}
.flip-card01 .custom-scrollbar-css {height: 250px; margin: 20px 20px 15px 20px;}

}

@media only screen and (min-width: 681px) and (max-width: 767px) {
.site-sidebar {display: block;}
header.c360-header {padding-left: 15px; padding-right: 15px;}
#wrapper {background: #293873 url(https://cdn.entrance360.com/static/images/ai_bg_light.jpg);}
.container-dashboard {margin-left: 0px; width: 100%; padding: 0px; background: none; overflow-x: scroll;}

.heading-top {margin-top: 0px !important;}
.site-sidebar {left: -85px;}
.half-circle {left: 0px;}

.flip-heading {padding: 15px 15px 0px 20px;}
.flip-heading a i.fa.fa-arrow-left {font-size: 26px; display: block; margin-top: 2px;}
.flip-heading h2 {font-size: 26px;}
.flip-heading p {font-size: 14px;}

.flip-carousel .carousel {height: 565px;}
.flip-carousel .carousel-inner {border: none; height: 505px; background: none;}
.flip-carousel .carousel-control-prev {top: 88%; left: 37%;}
.flip-carousel .carousel-control-next  {top: 88%; right: 37%;}
.flip-carousel .carousel a i {color: #333; width: 40px; height: 40px; line-height: 40px;}

.flip-card-inner {width: 92%; height: 485px; margin: 15px 4%;}
.flip-card-front, .flip-card-back {background: #fff; border-radius: 15px;}
.flip-card-front h2 {margin-top: 230px; font-size: 24px;}
.flip-card-front .btn01 {width: 90%; position: absolute; left: 5%; bottom: 15px;}

.flip-card-inner01 {width: 100%; height: 485px;}
.flip-card-front01 p {font-size: 13px;}
.flip-card01 .custom-scrollbar-css {height: 415px; margin: 20px 15px 10px 20px;}
.flip-card-back .not_quite, .got_it {width: 40%;}
.flip-card01 .box01, .box02 {width: 92%; height: 455px; margin: 25px 4%;} 
.flip-card01 .box01 img {padding-top: 195px;}
.flip-card01 .box01 h4 {font-size: 22px;}
.flip-card01 .box02 img {padding-top: 195px;}
.flip-card01 .box02 h4 {font-size: 22px;}
.flip-card01 .read_again {position: absolute; left: 43%; bottom: 20px; margin-top: 0vh;}

}

@media only screen and (min-width: 581px) and (max-width: 680px) {
.site-sidebar {display: block;}
header.c360-header {padding-left: 15px; padding-right: 15px;}
#wrapper {background: #293873 url(https://cdn.entrance360.com/static/images/ai_bg_light.jpg);}
.container-dashboard {margin-left: 0px; width: 100%; padding: 0px; background: none; overflow-x: scroll;}

.heading-top {margin-top: 0px !important;}
.site-sidebar {left: -85px;}
.half-circle {left: 0px;}

.flip-heading {padding: 15px 15px 0px 20px;}
.flip-heading a i.fa.fa-arrow-left {font-size: 24px; display: block; margin-top: 2px;}
.flip-heading h2 {font-size: 24px;}
.flip-heading p {font-size: 13px;}

.flip-carousel .carousel {height: 565px;}
.flip-carousel .carousel-inner {border: none; height: 505px; background: none;}
.flip-carousel .carousel-control-prev {top: 87%; left: 36%;}
.flip-carousel .carousel-control-next  {top: 87%; right: 36%;}
.flip-carousel .carousel a i {color: #333; width: 40px; height: 40px; line-height: 40px;}

.flip-card-inner {width: 92%; height: 485px; margin: 15px 4%;}
.flip-card-front, .flip-card-back {background: #fff; border-radius: 15px;}
.flip-card-front h2 {margin-top: 230px; font-size: 22px;}
.flip-card-front .btn01 {width: 90%; position: absolute; left: 5%; bottom: 15px;}

.flip-card-inner01 {width: 100%;}
.flip-card-front01 p {font-size: 13px;}
.flip-card01 .custom-scrollbar-css {height: 415px; margin: 20px 15px 10px 20px;}
.flip-card-back .not_quite, .got_it {width: 40%;}
.flip-card01 .box01, .box02 {width: 92%; height: 455px; margin: 20px 4%;} 
.flip-card01 .box01 img {padding-top: 195px;}
.flip-card01 .box01 h4 {font-size: 20px;}
.flip-card01 .box02 img {padding-top: 195px;}
.flip-card01 .box02 h4 {font-size: 20px;}
.flip-card01 .read_again {position: absolute; left: 43%; bottom: 20px; margin-top: 0vh;}

}

@media only screen and (min-width: 481px) and (max-width: 580px) {
.site-sidebar {display: block;}
header.c360-header {padding-left: 15px; padding-right: 15px;}
#wrapper {background: #293873 url(https://cdn.entrance360.com/static/images/ai_bg_light.jpg);}
.container-dashboard {margin-left: 0px; width: 100%; padding: 0px; background: none; overflow-x: scroll;}

.heading-top {margin-top: 0px !important;}
.site-sidebar {left: -85px;}
.half-circle {left: 0px;}

.flip-heading {padding: 15px 15px 0px 20px;}
.flip-heading a i.fa.fa-arrow-left {font-size: 22px; display: block; margin-top: 2px;}
.flip-heading h2 {font-size: 22px;}
.flip-heading p {font-size: 13px;}

.flip-carousel .carousel {height: 565px;}
.flip-carousel .carousel-inner {border: none; height: 505px; background: none;}
.flip-carousel .carousel-control-prev {top: 88%; left: 36%;}
.flip-carousel .carousel-control-next  {top: 88%; right: 36%;}
.flip-carousel .carousel a i {color: #333; width: 40px; height: 40px; line-height: 40px;}

.flip-card-inner {width: 92%; height: 485px; margin: 15px 4%;}
.flip-card-front, .flip-card-back {background: #fff; border-radius: 15px;}
.flip-card-front h2 {margin-top: 230px; font-size: 22px;}
.flip-card-front .btn01 {width: 90%; position: absolute; left: 5%; bottom: 15px;}

.flip-card-inner01 {width: 100%; height: 485px;}
.flip-card-front01 p {font-size: 13px;}
.flip-card01 .custom-scrollbar-css {height: 415px; margin: 15px 15px 10px 15px;}
.flip-card-back .not_quite, .got_it {width: 40%;}
.flip-card01 .box01, .box02 {width: 92%; height: 455px; margin: 20px 4%;} 
.flip-card01 .box01 img {padding-top: 195px;}
.flip-card01 .box01 h4 {font-size: 20px;}
.flip-card01 .box02 img {padding-top: 195px;}
.flip-card01 .box02 h4 {font-size: 20px;}
.flip-card01 .read_again {position: absolute; left: 41%; bottom: 20px; margin-top: 0vh;}

}

@media only screen and (min-width: 361px) and (max-width: 480px) {
.site-sidebar {display: block;}
header.c360-header {padding-left: 15px; padding-right: 15px;}
#wrapper {background: #293873 url(https://cdn.entrance360.com/static/images/ai_bg_light.jpg);}
.container-dashboard {margin-left: 0px; width: 100%; padding: 0px; background: none; overflow-x: scroll;}

.heading-top {margin-top: 0px !important;}
.site-sidebar {left: -85px;}
.half-circle {left: 0px;}

.flip-heading {padding: 15px 15px 0px 20px;}
.flip-heading a i.fa.fa-arrow-left {font-size: 20px; display: block; margin-top: 2px;}
.flip-heading h2 {font-size: 20px;}
.flip-heading p {font-size: 13px;}

.flip-carousel .carousel {height: 565px;}
.flip-carousel .carousel-inner {border: none; height: 505px; background: none;}
.flip-carousel .carousel-control-prev {top: 88%; left: 34%;}
.flip-carousel .carousel-control-next  {top: 88%; right: 34%;}
.flip-carousel .carousel a i {color: #333; width: 40px; height: 40px; line-height: 40px;}

.flip-card-inner {width: 92%; height: 485px; margin: 15px 4%;}
.flip-card-front, .flip-card-back {background: #fff; border-radius: 15px;}
.flip-card-front h2 {margin-top: 230px; font-size: 22px;}
.flip-card-front .btn01 {width: 90%; position: absolute; left: 5%; bottom: 15px;}

.flip-card-inner01 {width: 100%; height: 485px;}
.flip-card-front01 p {font-size: 13px;}
.flip-card01 .custom-scrollbar-css {height: 415px; margin: 15px 15px 10px 15px;}
.flip-card-back .not_quite, .got_it {width: 40%;}
.flip-card01 .box01, .box02 {width: 92%; height: 455px; margin: 15px 4%;} 
.flip-card01 .box01 img {padding-top: 195px;}
.flip-card01 .box01 h4 {font-size: 18px;}
.flip-card01 .box02 img {padding-top: 195px;}
.flip-card01 .box02 h4 {font-size: 18px;}
.flip-card01 .read_again {position: absolute; left: 40%; bottom: 20px; margin-top: 0vh;}


}

@media only screen and (min-width: 321px) and (max-width: 360px) {
.site-sidebar {display: block;}
header.c360-header {padding-left: 15px; padding-right: 15px;}
#wrapper {background: #293873 url(https://cdn.entrance360.com/static/images/ai_bg_light.jpg);}
.container-dashboard {margin-left: 0px; width: 100%; padding: 0px; background: none; overflow-x: scroll;}

.heading-top {margin-top: 0px !important;}
.site-sidebar {left: -85px;}
.half-circle {left: 0px;}

.flip-heading {padding: 15px 15px 0px 15px;}
.flip-heading a i.fa.fa-arrow-left {font-size: 18px; display: block; margin-top: 1px;}
.flip-heading h2 {font-size: 18px;}
.flip-heading p {font-size: 12px;}

.flip-carousel .carousel {height: 565px;}
.flip-carousel .carousel-inner {border: none; height: 505px; background: none;}
.flip-carousel .carousel-control-prev {top: 88%; left: 32%;}
.flip-carousel .carousel-control-next  {top: 88%; right: 32%;}
.flip-carousel .carousel a i {color: #333; width: 40px; height: 40px; line-height: 40px;}

.flip-card-inner {width: 92%; height: 485px; margin: 15px 4%;}
.flip-card-front, .flip-card-back {background: #fff; border-radius: 15px;}
.flip-card-front h2 {margin-top: 230px; font-size: 20px;}
.flip-card-front .btn01 {width: 90%; position: absolute; left: 5%; bottom: 15px;}

.flip-card-inner01 {width: 100%; height: 485px;}
.flip-card-front01 p {font-size: 13px;}

.flip-card01 .custom-scrollbar-css {height: 415px; margin: 15px 15px 10px 15px;}
.flip-card-back .not_quite, .got_it {width: 40%;}
.flip-card01 .box01, .box02 {width: 92%; height: 455px; margin: 15px 4%;}
.flip-card01 .box01 h4 {font-size: 16px; white-space: normal;}
.flip-card01 .box01 img {padding-top: 195px; width: 24px;}
.flip-card01 .box02 h4 {font-size: 16px; white-space: normal;}
.flip-card01 .box02 img {padding-top: 195px; width: 24px;}
.flip-card01 .read_again {position: absolute; left: 35%; bottom: 20px; margin-top: 0vh;}

}

@media only screen and (max-width: 320px) {
.site-sidebar {display: block;}
header.c360-header {padding-left: 15px; padding-right: 15px;}
#wrapper {background: #293873 url(https://cdn.entrance360.com/static/images/ai_bg_light.jpg);}
.container-dashboard {margin-left: 0px; width: 100%; padding: 0px; background: none; overflow-x: scroll;}

.heading-top {margin-top: 0px !important;}
.site-sidebar {left: -85px;}
.half-circle {left: 0px;}

.flip-heading {padding: 15px 15px 0px 15px;}
.flip-heading a i.fa.fa-arrow-left {font-size: 18px; display: block; margin-top: 1px;}
.flip-heading h2 {font-size: 18px;}
.flip-heading p {font-size: 12px;}

.flip-carousel .carousel {height: 565px;}
.flip-carousel .carousel-inner {border: none; height: 505px; background: none;}
.flip-carousel .carousel-control-prev {top: 88%; left: 32%;}
.flip-carousel .carousel-control-next  {top: 88%; right: 32%;}
.flip-carousel .carousel a i {color: #333; width: 40px; height: 40px; line-height: 40px;}

.flip-card-inner {width: 92%; height: 485px; margin: 15px 4%;}
.flip-card-front, .flip-card-back {background: #fff; border-radius: 15px;}
.flip-card-front h2 {margin-top: 230px; font-size: 20px;}
.flip-card-front .btn01 {width: 90%; position: absolute; left: 5%; bottom: 15px;}

.flip-card-inner01 {width: 100%; height: 485px;}
.flip-card-front01 p {font-size: 13px;}

.flip-card01 .custom-scrollbar-css {height: 415px; margin: 15px 15px 10px 15px;}
.flip-card-back .not_quite, .got_it {width: 40%;}
.flip-card01 .box01, .box02 {width: 92%; height: 455px; margin: 15px 4%;}
.flip-card01 .box01 h4 {font-size: 16px; white-space: normal;}
.flip-card01 .box01 img {padding-top: 195px; width: 24px;}
.flip-card01 .box02 h4 {font-size: 16px; white-space: normal;}
.flip-card01 .box02 img {padding-top: 195px; width: 24px;}
.flip-card01 .read_again {position: absolute; left: 35%; bottom: 20px; margin-top: 0vh;}

}

</style>
{% endblock %}
{% block extrahead %}
{% endblock %}

{% block content %}
<div id="wrapper">
    {% include 'common/header.jinja' %}
    {% include 'dashboard/partials/sidebar.jinja' %}
    <!--<div class="heading-top"  style="margin-top: 70px;">
    </div>-->
    
    <div class="container-fluid container-dashboard">
        <div class="flip-heading">
            <a href="{{ sellable_product_group.next_url }}#course" class="back_button_arrow" style="font-size: 28px;color:#fff;"><i class="fa fa-arrow-left"></i></a><h2 id="chapter_name">{% if chapters.first().name %} {{ chapters.first().name }} {% endif %}</h2>
            <p><span id="flashcards-counter">1</span>/{% if concepts %} {{ concepts|length }} {% endif %} Cards</p>
        </div>
        <div class="flip-carousel">
            <div id="custCarousel" class="carousel slide" data-ride="carousel" align="center" data-interval='false'>
                <!-- slides -->
                <div class="carousel-inner">
                    {% for concept in concepts %}
                        <div class="carousel-item {% if loop.first %}active{% endif %}" data-chapter="{{ concept.chapter.name }}" data-conceptweight="{{ concept.weight|int }}" data-index="{{ loop.index }}" data-conceptid="{{ concept.id }}">
                            <div class="flip-card">
                                <div class="flip-card-inner">
                                    <div class="flip-card-front">
                                        <h2>{% if concept.title %} {{ concept.title }} {% endif %}</h2> 
                                        <button class="btn01">Read Now</button>
                                    </div>
                                    <div class="flip-card-back">
                                        <div class="flip-card01">
                                            <div class="flip-card-inner01">
                                                <div class="flip-card-front01">
                                                    <div class="custom-scrollbar-css">
                                                        <h4>{% if concept.title %} {{ concept.title }} {% endif %}</h4>
                                                        <p>{% if concept.concept_text %} {{ concept.concept_text|safe }} {% endif %}</p>
                                                    </div>
                                                    <div class="btns">
                                                        <button class="not_quite">Not quite</button>
                                                        <button class="got_it">Got it</button>
                                                    </div>
                                                </div>
                                                <div class="flip-card-back01">
                                                    <div class="box01">
                                                        <img src="{{ static('images/dashboard/group-44.png') }}">
                                                        <h4>{% if concept.title %} {{ concept.title }} {% endif %}</h4>
                                                        <button class="read_again">Read Again</button>
                                                    </div>
                                                    <div class="box02">
                                                        <img src="{{ static('images/dashboard/group-42.png') }}">
                                                        <h4>{% if concept.title %} {{ concept.title }} {% endif %}</h4>
                                                        <button class="read_again">Read Again</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> 
                                    </div>
                                </div>
                            </div>  
                        </div>
                    {% endfor %}
                </div>
                <!-- Left right --> 
                <a class="carousel-control-prev" href="#custCarousel" data-slide="prev"><i class="fas fa-arrow-left"></i></a> 
                <a class="carousel-control-next" href="#custCarousel" data-slide="next"><i class="fas fa-arrow-right"></i></a>
            </div>
        </div>
        <!-- ****** -->     
    </div>
    
</div>

{% endblock %}
{% block extrascripts %}
<script>
$(document).ready(function() {
    // Toggle for sidebar
    $(".half-circle").click(function(){
        $(this).toggleClass('left85');
        $(".site-sidebar").toggleClass('left5');
    });

    // Page load prev arrow hidden
    $(".carousel-control-prev").css("visibility","hidden");  
    $(".carousel-control-next").click(function(){
        $(".carousel-control-prev").css("visibility","visible");
    });

    // Onclick start flip
    $(".flip-card .btn01").click(function() {
        $(".flip-card-inner").css("transform","rotateX(180deg)");
    });

    $(".got_it").click(function() {
        $(".flip-card-front01").css("visibility","hidden");  //add
        $(".flip-card-inner01").css("transform","rotateX(180deg)");
        $(".box01").css("visibility","hidden");
        $(".box02").css("visibility","visible");
    });

    $(".read_again").click(function() {
        $(".flip-card-front01").css("visibility","visible");
        $(".flip-card-inner01").css("transform","rotateX(0deg)");
        
    });

    $(".not_quite").click(function() {
        $(".flip-card-front01").css("visibility","hidden"); //add
        $(".flip-card-inner01").css("transform","rotateX(180deg)");
        $(".box02").css("visibility","hidden");
        $(".box01").css("visibility","visible");
    });

    // Reset carousel item on arrow button
    $(".carousel-control-prev").click(function(){
        $(".flip-card-inner").css("transform","rotateX(0deg)");
        $(".flip-card-inner01").css("transform","rotateX(0deg)");
        $(".flip-card-front01").css("visibility","visible");
    });

    $(".carousel-control-next").click(function(){
        $(".flip-card-inner").css("transform","rotateX(0deg)");
        $(".flip-card-inner01").css("transform","rotateX(0deg)");
        $(".flip-card-front01").css("visibility","visible");
        
    });

   //  $("#custCarousel").on('slide.bs.carousel', function (){
	    
	  // });

    // $('#custCarousel').on('slid.bs.carousel', '', function(){
    //     // localStorage.setItem('index', $('.carousel-item.active').data('index'));
    //     // localStorage.setItem('chapter', $('.carousel-item.active').data('chapter'));

    //     var cust_carousel = $('#custCarousel');
    //     if($('.carousel-item:first').hasClass('active')) {
    //         cust_carousel.children('.carousel-control-prev').hide();
    //         cust_carousel.children('.carousel-control-next').show();
    //     } else if($('.carousel-item:last').hasClass('active')) {
    //         cust_carousel.children('.carousel-control-prev').show();
    //         cust_carousel.children('.carousel-control-next').hide();
    //     } else {
    //         cust_carousel.children('.carousel-control-prev').show();
    //         cust_carousel.children('.carousel-control-next').show();
    //     }

    // });

    

    // if(carousel_concept_index){
    // 	$("#custCarousel").carousel(carousel_concept_index - 1);
    // } else {
    // 	$("#custCarousel").carousel(0);
    // }
    // if(localStorage.getItem('index')){
    //   $("#custCarousel").carousel(parseInt(localStorage.index) - 1);
    //   $('#flashcards-counter').text(localStorage.index);
    //   $('#chapter_name').text(localStorage.chapter);
    //   if(localStorage.getItem('index') == 1){
    //     $('.carousel-control-prev').css('visibility', 'hidden');
    //   } else {
    //     $('.carousel-control-prev').css('visibility', 'visible');
    //   }
    // }
});

</script>


<script type="text/javascript">
    $(document).ready(function(){
        var concept_id = $('.carousel-item.active').data('conceptid');
        $.ajax({
            type: "POST",
            url: "{{url('dashboard.flashcard_concept')}}",
            data:{
                "concept_id": concept_id,
                "status": 1,
                "csrfmiddlewaretoken":"{{ csrf_token }}"
            }
        });
    
        // $('.carousel-control-next, .carousel-control-prev').click(function(){
        //     var chapter_name = $('.carousel-item.active').data('chapter');
        //     var concept_weight = $('.carousel-item.active').data('conceptweight');
        //     $('#flashcards-counter').text(concept_weight)
        //     $('#chapter_name').text(chapter_name)
            
        // });

        var seconds = 0;
        function start_time(){
            seconds++
            return seconds;
        }

        var set_interval;

    	var reset_concept_id = "{{last_active_user_concept.concept.id}}"
        var reset_chapter_name = "{{last_active_user_concept.concept.chapter.name}}"
        var reset_carousel_index = $(`[data-conceptid=${reset_concept_id}]`).data('index');
        $('#custCarousel').carousel(reset_carousel_index - 1);
        $('#chapter_name').text(reset_chapter_name);
        $('#flashcards-counter').text(reset_carousel_index);
        console.log(reset_carousel_index);
        console.log($(`[data-conceptid=${reset_concept_id}]`).prev().data('index'));
        // var test = $('.carousel-item.active').data('index');
        // console.log(test);
        if($(`[data-conceptid=${reset_concept_id}]`).prev().data('index') == null){
        	$('.carousel-control-next').css('visibility', 'visible');
        	console.log('previous index null');
        } else if($(`[data-conceptid=${reset_concept_id}]`).next().data('index') == null){
        	$('.carousel-control-prev').css('visibility', 'visible');
        	console.log('next index null');
        } else {
        	console.log('middle');
        	$('.carousel-control-next').css('visibility', 'visible');
        	$('.carousel-control-prev').css('visibility', 'visible');
        }
        

        $('.carousel-control-next, .carousel-control-prev').click(function(){
    		var concept_id = $('.carousel-item.active').data('conceptid')
    		clearInterval(set_interval);
    		var time_spent = seconds;
    		seconds = 0;
    		$.ajax({
    			type: "POST",
    			url: "{{url('dashboard.flashcard_concept')}}",
    			data: {
    				"concept_id": concept_id,
    				"time_spent": time_spent,
    				"csrfmiddlewaretoken":"{{ csrf_token }}"
    			}
    		})
    	});

    	$('#custCarousel').on('slid.bs.carousel', function(){
    		var chapter_name = $('.carousel-item.active').data('chapter');
    		var concept_index = $('.carousel-item.active').data('index');
    		var concept_id = $('.carousel-item.active').data('conceptid');
    		// clearInterval(set_interval);
      //       var time_spent = seconds;
      //       seconds = 0;

            $('#flashcards-counter').text(concept_index);
            $('#chapter_name').text(chapter_name);

            if($('.carousel-item:first').hasClass('active')){
            	$('.carousel-control-prev').hide();
            	$('.carousel-control-next').show();
            } else if($('.carousel-item:last').hasClass('active')){
            	$('.carousel-control-prev').show();
            	$('.carousel-control-next').hide();
            } else {
            	$('.carousel-control-prev').show();
            	$('.carousel-control-next').show();
            }

            // $('#custCarousel').on('slide.bs.carousel', function(){
            // 	var concept_id = $('.carousel-item.active').data('conceptid');
            // });

            $.ajax({
            	type: "POST",
            	url: "{{url('dashboard.flashcard_concept')}}",
            	data: {
            		"concept_id": concept_id,
            		// "time_spent": time_spent,
            		"status": 1,
            		"csrfmiddlewaretoken":"{{ csrf_token }}"
            	}
            });
    	});

    	

        // $('.carousel-control-next').click(function(){
        //     var chapter_name = $('.carousel-item.active').next().data('chapter');
        //     var concept_index = $('.carousel-item.active').next().data('index');
        //     var concept_id = $('.carousel-item.active').next().data('conceptid');
        //     var active_concept_id = $('.carousel-item.active').data('conceptid');
        //     clearInterval(set_interval);
        //     var time_spent = seconds;
        //     seconds = 0;
        //     if (chapter_name){
        //         $('#flashcards-counter').text(concept_index)
        //         $('#chapter_name').text(chapter_name)
        //         $.ajax({
        //             type:"POST",
        //             url:"{{url('dashboard.flashcard_concept')}}",
        //             data:{
        //                 "concept_id": concept_id,
        //                 "active_concept_id": active_concept_id,
        //                 "time_spent": time_spent,
        //                 "csrfmiddlewaretoken":"{{ csrf_token }}"
        //             }
        //         });
        //     } else {
        //         var chapter_name = $('.carousel-item:first').data('chapter');
        //         var concept_index = $('.carousel-item:first').data('index');
        //         var concept_id = $('.carousel-item:first').data('conceptid');
        //         $('#flashcards-counter').text(concept_index)
        //         $('#chapter_name').text(chapter_name)
        //         $.ajax({
        //             type: "POST",
        //             url: "{{url('dashboard.flashcard_concept')}}",
        //             data: {
        //                 "concept_id": concept_id,
        //                 "time_spent": time_spent,
        //                 "active_concept_id": active_concept_id,
        //                 "csrfmiddlewaretoken":"{{ csrf_token }}"
        //             }
        //         });

        //     }
        // });

        // $('.carousel-control-prev').click(function(){
        //     var chapter_name = $('.carousel-item.active').prev().data('chapter');
        //     var concept_index = $('.carousel-item.active').prev().data('index');
        //     var concept_id = $('.carousel-item.active').prev().data('conceptid');
        //     var active_concept_id = $('.carousel-item.active').data('conceptid');
        //     clearInterval(set_interval);
        //     var time_spent = seconds;
        //     seconds = 0;
        //     if (chapter_name){
        //         $('#flashcards-counter').text(concept_index)
        //         $('#chapter_name').text(chapter_name)
        //         $.ajax({
        //             type:"POST",
        //             url:"{{url('dashboard.flashcard_concept')}}",
        //             data:{
        //                 "concept_id": concept_id,
        //                 "time_spent": time_spent,
        //                 "active_concept_id": active_concept_id,
        //                 "csrfmiddlewaretoken":"{{ csrf_token }}"
        //             }
        //         });
        //     } else {
        //         var chapter_name = $('.carousel-item:last').data('chapter');
        //         var concept_index = $('.carousel-item:last').data('index');
        //         var concept_id = $('.carousel-item:last').data('conceptid');
        //         $('#chapter_name').text(chapter_name)
        //         $('#flashcards-counter').text(concept_index)
        //         $.ajax({
        //             type:"POST",
        //             url:"{{url('dashboard.flashcard_concept')}}",
        //             data:{
        //                 "concept_id": concept_id,
        //                 "time_spent": time_spent,
        //                 "active_concept_id": active_concept_id,
        //                 "csrfmiddlewaretoken":"{{ csrf_token }}"
        //             }
        //         });

        //     }
        // });

        $('.btn01, .read_again').click(function(){
            var concept_id = $('.carousel-item.active').data('conceptid');
            set_interval = setInterval(start_time, 1000);
            $.ajax({
                type: "POST",
                url: "{{url('dashboard.flashcard_concept')}}",
                data: {
                    "concept_id": concept_id,
                    "status": 2,
                    "csrfmiddlewaretoken":"{{ csrf_token }}"
                }
            });
        });

        $('.got_it').click(function(){
            var concept_id = $('.carousel-item.active').data('conceptid');
            clearInterval(set_interval);
            var time_spent = seconds;
            seconds = 0;
            $.ajax({
                type: "POST",
                url: "{{url('dashboard.flashcard_concept')}}",
                data:{
                    "concept_id": concept_id,
                    "status": 3,
                    "time_spent": time_spent,
                    "csrfmiddlewaretoken":"{{ csrf_token }}"
                }
            });
        });

        $('.not_quite').click(function(){
            var concept_id = $('.carousel-item.active').data('conceptid');
            clearInterval(set_interval);
            var time_spent = seconds;
            seconds = 0;
            $.ajax({
                type: "POST",
                url: "{{url('dashboard.flashcard_concept')}}",
                data: {
                    "concept_id": concept_id,
                    "status": 4,
                    "time_spent": time_spent,
                    "csrfmiddlewaretoken":"{{ csrf_token }}"
                }
            });
        });

        $('.back_button_arrow').click(function(){
            var concept_id = $('.carousel-item.active').data('conceptid');
            clearInterval(set_interval);
            var time_spent = seconds;
            seconds = 0;
            $.ajax({
                type: "POST",
                url: "{{url('dashboard.flashcard_concept')}}",
                data: {
                    "concept_id": concept_id,
                    "time_spent": time_spent,
                    "csrfmiddlewaretoken":"{{ csrf_token }}"
                }
            })
        });

    });

</script>

{% include 'common/analytics.jinja' %}
{% endblock %}
